body {
  background: linear-gradient(to bottom, rgb(255, 168, 117), rgb(67, 218, 100, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

main {
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.input-container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 12px;
}

input {
  outline: none;
  border: none;
}

hr {
  color: rgb(131, 127, 127);
  margin: 0;
}

#myInput {
  width: 100%;
  padding: 10px;
  border: none;
}

.enterArrow {
  color: rgb(131, 127, 127);
}

::placeholder {
  font-style: italic;
}

.list-items {
  color: black;
}

.todo-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(131, 127, 127);
  padding: 0.2rem 0;
}

.items.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.checkbox {
  margin: 5px;
}

.list-container span {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.list-container span .items {
  width: 100%;
  padding: 13px 0;
}

button {
  padding: 5px 10px;
  border: none;
  background: transparent;
}

.delete {
  color: red;
}

.btn {
  background-color: rgb(245, 233, 233);
  width: 100%;
  border: none;
  padding: 15px 0;
  font-size: 15px;
  color: rgb(131, 127, 127);
}

.btn .clear {
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.btn .clear:hover {
  text-decoration: underline;
}
