body {
  background: linear-gradient(to bottom, rgb(255, 168, 117), rgb(67, 218, 100, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

main {
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.input-container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 12px;
}

hr {
  color: rgb(131, 127, 127);
  margin: 0;
}

#myInput {
  width: 100%;
  padding: 10px;
  border: none;
}

.enterArrow {
  color: rgb(131, 127, 127);
}

::placeholder {
  font-style: italic;
}

.list-items {
  color: black;
}

.todo-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(131, 127, 127);
}

.list-container span {
  display: flex;
  align-items: center;
  margin-left: 27px;
}

.items {
  padding-left: 20px;
}

.fa-ellipsis-v {
  margin-right: 27px;
}

.btn {
  background-color: rgb(245, 233, 233);
  width: 100%;
  border: none;
  padding: 15px 0;
  font-size: 15px;
  color: rgb(131, 127, 127);
}
